<div class='row'>
  <div class='col s12 m10 offset-m1 18 offset-12'>
    <div class='card'>
      <div class='card-image'>
        <img src='/images/addlibro.jpg' alt='Imagen de edicion de libro' />
        <span class='card-title add-project' style='font-weight: bolder;'>
          Editar libro
        </span>
      </div>
      <form autocomplete="off" action="/libro/edit/{{ libro._id }}?_method=put" method="post">
     <div class='card-content'>
       <div class='input-field'>
            <label for='libro-nombre'>titulo del libro</label>
            <input
              placeholder='nombre del libro aqui'
              id='libro-nombre'
              name='nombre'
              type='text'
              class="validate"
              value="{{ libro.name }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el titulo del libro"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          
            <div class="card-content">
          <div class='input-field'>
            <label for='libro-autor'>autor del libro</label>
            <input
              placeholder='nombre del autor ✍'
              id='libro-autor'
              name='autor'
              type='text'
              class="validate"
              value="{{ libro.autor }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el nommbre del autor"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
            

          <div class="card-content">
          <div class='input-field'>
            <label for='libro-categoria'>ingrese la categoria</label>
            <input
              placeholder='ingrese una categoria'
              id='libro-categoria'
              name='categoria'
              type='text'
              class="validate"
              value="{{ libro.categoria }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar una categoria del libro"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>

           <div class="card-content">
          <div class='input-field'>
            <label for='book-isbn'>ingrese el ISBN del libro</label>
            <input
              placeholder='ISBN del libro'
              id='libro-isbn'
              name='isbn'
              type='text'
              class="validate"
              value="{{ libro.isbn }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el ISBN del libro"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>

            <div class="card-content">
          <div class='input-field'>
            <label for='libro-copias'>Copias del libro</label>
            <input
              placeholder='Numero de libros disponibles'
              id='libro-copias'
              name='copias'
              type='text'
              class="validate"
              value="{{ libro.copias }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar los numeros de libros"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div> 

          <div class='input-field'>
            <label for='libro-descripcion'>
              Descripción del libro
            </label>
            <textarea
              id='libro-descripcion'
              name='descripcion'
              class="materialize-textarea validate" required>{{book.description}}</textarea>
              <span 
              class="helper-text"
              data-error="Debe ingresar una descripción"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.description }}
            <span style="color: crimson;">Error: {{ errorModel.description }}</span>
            {{/if}}
          </div>   
        </div>
        <div class='card-action'>
          <button class='blue darken-3 waves-effect waves-light btn'>
            <i class='material-icons left'>edit</i>
            Editar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>